<b>{{symbol}}</b>
<pre>Name: {{name}}</pre>
<pre>Sector: {{sector}}</pre>
<pre>P: {{marketCapitalizationM}}M</pre>
<pre>EV/EBITDA: {{evToEBITDA}}</pre>
<pre>ND/EBITDA: {{ndToEBITDA}}</pre>
<pre>P/E: {{peRatio}}</pre>
<pre>ROE: {{#percent}}{{returnOnEquityTTM}}{{/percent}}%</pre>
<pre>L/A: {{laRatio}}</pre>
<pre>ROA: {{#percent}}{{returnOnAssetsTTM}}{{/percent}}%</pre>
<pre>P/B: {{priceToBookRatio}}</pre>
<pre>Free-float: </pre>
<pre>DividendPerShare: {{dividendPerShare}}</pre>
<pre>DividendYield: {{#percent}}{{dividendYield}}{{/percent}}%</pre>