<b>{{symbol}}</b>
<pre>P: {{marketCapitalization}}</pre>
<pre>EV/EBITDA: {{evToEBITDA}}</pre>
<pre>ND/EBITDA: </pre>
<pre>P/E: {{peRatio}}</pre>
<pre>ROE: {{returnOnEquityTTM}}</pre>
<pre>L/A: </pre>
<pre>ROA: {{returnOnEquityTTM}}</pre>
<pre>P/B: {{priceToBookRatio}}</pre>
<pre>Free-float: </pre>
<pre>DividendPerShare: {{dividendPerShare}}</pre>
<pre>DividendYield: {{dividendYield}}</pre>