<b>{{symbol}}</b>
<pre>name: {{language}}</pre>
<pre>currency: {{currency}}</pre>
<pre>stockExchange: {{fullExchangeName}}</pre>
<pre>quote: Ask: {{ask}}, Bid: {{bid}}, Price: {{regularMarketPrice}}, Prev close: {{regularMarketPreviousClose}}</pre>
<pre>stats: EPS: {{epsTrailingTwelveMonths}}, PE: {{trailingPE}}, Earnings announcement: {{#earningsTimestampStr}}{{/earningsTimestampStr}}</pre>
<pre>dividend: Pay date: {{#dividendDateStr}}{{/dividendDateStr}}, Annual yield: {{#trailingAnnualDividendYieldStr}}{{/trailingAnnualDividendYieldStr}}</pre>
