<h2>{{symbol}}</h2>
</p>language: {{language}}</p>
</p>region: {{region}}</p>
</p>quoteType: {{quoteType}}</p>
</p>quoteSourceName: {{quoteSourceName}}</p>
</p>triggerable: {{triggerable}}</p>
</p>currency: {{currency}}</p>
